<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

%h1 Notifications

- @notifications.each do |notification|
  %div
    %h2= notification.title
    %p= notification.description
    %p= notification.created_at.strftime('%b %d, %Y %H:%M')
    - unless notification.read?
      = link_to "Mark as Read", mark_as_read_notification_path(notification), method: :put
