html {
  min-height: 100%
}
header.navbar {
  background-color: #F7F7F7;
}

nav.navbar-nav {
  background-color: #F7F7F7;
}

.container-fluid {
  padding: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;




  footer {
    margin-top: auto;
  }
}




